<!DOCTYPE html>
<html>
    <meta charset = "utf-8">

    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script type="text/javascript" src = "/static/js/d3.js"></script>
        <script type="text/javascript" src = "/static/js/topojson.js"></script>
        <script type="text/javascript" src = "/static/js/jquery.js"></script>
        <script type="text/javascript" src = "/static/js/queue.js"></script>
        <script type="text/javascript" src = "/static/js/usmap.js"></script>
    </head>

    <body></body>
</html>